# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
