@charset "ISO-8859-1";
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #333;
}
